<a href="https://colab.research.google.com/github/ryopxd/jump_to_python/blob/main/chapter4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 함수 구조

In [ ]:
def add(a, b):
  return a + b

In [ ]:
a = 3
b = 4
c = add(a, b)
print(c)

7

# 입력값과 결과값에 따른 함수의 형태

일반적인 함수

In [ ]:
def add(a, b):
  result = a + b
  return result

In [ ]:
a = add(3, 4)
print(a)

7

In [ ]:
def say():
  return 'Hi'

In [ ]:
a = say()
print(a)

Hi

In [ ]:
def add(a, b):
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [ ]:
add(3, 4)

3, 4의 합은 7입니다.

In [ ]:
def say():
  print('Hi')

In [ ]:
say()

Hi

In [ ]:
def add(a, b):
  return a+b

In [ ]:
result = add(a=3, b=7)
print(result)

10

In [ ]:
result = add(b=5, a=3)
print(result)

8

In [ ]:
def add_many(*args):
  result = 0
  for i in args:
    result = result + i
  return result

In [ ]:
result = add_many(1, 2, 3)
print(result)

6

In [ ]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [ ]:
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result = result + i
  elif choice == "mul":
    result = 1
    for i in args:
      result = result * i
  return result

In [ ]:
result = add_mul('add', 1, 2, 3, 4, 5)
print(result)

15

In [ ]:
result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

120

In [ ]:
def print_kwargs(**kwargs):
  print(kwargs)

In [ ]:
print_kwargs(a=1)

{'a': 1}

In [ ]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [ ]:
def add_and_mul(a, b):
  return a+b, a*b

In [ ]:
result = add_and_mul(3, 4)
print(result)

(7, 12)

In [ ]:
result1, result2 = add_and_mul(3,4)
print(result1, result2)

7 12

In [ ]:
def add_and_mul(a, b):
  return a+b
  return a*b

In [ ]:
result = add_and_mul(2,3)
print(result)

5

In [ ]:
def say_nick(nick):
  if nick == "바보":
    return
  print("나의 별명은 %s 입니다." % nick)

In [ ]:
say_nick('야호')

나의 별명은 야호 입니다.

In [ ]:
say_nick('바보')

In [ ]:
def say_myself(name, old, man=True):
  print("나의 이름은 %s 입니다." % name)
  print("나이의 %d살입니다." % old)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

In [ ]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이의 27살입니다.
남자입니다.

In [ ]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이의 27살입니다.
남자입니다.

In [ ]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나이의 27살입니다.
여자입니다.

# 함수 안에서 선언한 변수의 효력 범위

In [ ]:
a = 1
def vartest(a):
  a = a + 1

vartest(a)
print(a)

1

In [ ]:
def vartest(a):
  a = a+ 1

vartest(3)
print(a)

1

# 함수 안에서 함수 밖의 변수를 변경하는 방법

return 사용하기

In [ ]:
a = 1
def vartest(a):
  a = a + 1
  return a

a = vartest(a)
print(a)

2

In [ ]:
a = 1
def vartest():
  global a
  a = a + 1

vartest()
print(a)

2

lambda

In [ ]:
add = lambda a, b: a + b
result = add(3, 4)
print(result)

7

# 사용자 입력과 출력

사용자 입력

In [ ]:
a = input()

Life is too short, you need python

In [ ]:
print(a)

Life is too short, you need python

In [ ]:
number = input("숫자를 입력하세요: ")

숫자를 입력하세요: 3

In [ ]:
print(number)

3

In [ ]:
type(number)

str

In [ ]:
a = 123
print(a)

123

In [ ]:
a = "Python"
print(a)

Python

In [ ]:
a = [1, 2, 3]
print(a)

[1, 2, 3]

In [ ]:
print("life" "is" "too short")

lifeistoo short

In [ ]:
print("life"+"is"+"too short")

lifeistoo short

In [ ]:
print("life","is","too short")

life is too short

In [ ]:
for i in range(1, 10):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9

# 파일 읽고 쓰기

In [ ]:
f = open("./새파일.txt", 'w')
f.close()

In [ ]:
f = open("./새파일.txt", 'a')
for i in range(1, 11):
  data = "%d번째 줄입니다. \n" % i
  f.write(data)
f.close()

프로그램의 외부에 저장된 파일을 읽는 여러 가지 방법

In [ ]:
f = open("./새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [ ]:
f = open("./새파일.txt", 'r')
while True:
  lines = f.readline()
  if not lines: break
  print(lines)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

readlines 함수 사용하기 - 파일의 여러 줄을 리스트 형식으로 출력

In [ ]:
f = open("./새파일.txt", 'r')
lines = f.readlines()
for line in lines:
  print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
f = open("./새파일.txt", 'r')
lines = f.readlines()
for line in lines:
  line = line.strip()
  print(line)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

read 함수 사용하기 - 파일 전체를 통으로

In [ ]:
f = open("./새파일.txt", 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

파일에 새로운 내용 추가하기

In [ ]:
f = open("./새파일.txt", 'a')
for i in range(11, 20):
  data = "%d번째 줄입니다." % i
  f.write(data)
f.close()

with문과 함께 사용하기 - 파일 닫기 자동으로

In [ ]:
with open("foo.txt", 'w') as f:
  f.write("Life is too short, you need python")

sys