<a href="https://colab.research.google.com/github/ryopxd/jump_to_python/blob/main/chapter3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# if문

In [ ]:
money = True
if money:
  print("택시를 타고 가라")
else:
  print("걸어 가라")

택시를 타고 가라

In [ ]:
x = 3
y = 2
x > y
x != y

True

In [ ]:
money = 2000
if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어가라")

걸어가라

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
1 in [1, 2, 3]
1 not in [1, 2, 3]

False

In [ ]:
'a' in ('a', 'b', 'c')
'j' not in ("a", 'b', 'c')

True

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
  pass
else:
  print("카드를 꺼내라")

In [ ]:
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket:
  print("택시를 타고가라")
else:
  if card:
    print("택시를 타고가라")
  else:
    print("걸어가라")

택시를 타고가라

In [ ]:
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket:
  print("택시를 타고가라")
elif card:
    print("택시를 타고가라")
else:
    print("걸어가라")

택시를 타고가라

In [ ]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket: pass
else: print("카드를 꺼내라")

# while문

In [ ]:
treeHit = 1
while treeHit < 10:
  print("나무를 %d번 찍었습니다." % treeHit)
  treeHit = treeHit + 1
  if treeHit == 10:
    print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무 넘어갑니다.

In [ ]:
prompt = """
1.Add
2.Del
3.List
4.Quit
Enter number : """

In [ ]:
number = 0
while number != 4:
  print(prompt)
  number = int(input())

1.Add
2.Del
3.List
4.Quit
Enter number :
3

1.Add
2.Del
3.List
4.Quit
Enter number :
2

1.Add
2.Del
3.List
4.Quit
Enter number :
4

In [ ]:
coffee = 10
money = 300
while money:
  print("돈을 받았으니 커피를 줍니다.")
  coffee = coffee -1
  print("남은 커피의 양은 %d개입니다." % coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.") 
    break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
# coffee.py

coffee = 10
while True:
  money = int(input("돈을 넣어주세요"))
  if money == 300:
    print("커피를 줍니다.")
    coffee = coffee - 1
  elif money >= 300:
    print("거스름돈 %d를 주고 커피를 줍니다." % (money - 300))
    coffee = coffee - 1
  else:
    print("돈을 다시 돌려주고 커피를 주지 않습니다.")
    print("남은 커피의 양은 %d개 입니다." % coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 넣어주세요400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어주세요500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어주세요300
커피를 줍니다.
돈을 넣어주세요300
커피를 줍니다.
돈을 넣어주세요0
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 6개 입니다.
돈을 넣어주세요200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 6개 입니다.
돈을 넣어주세요900
거스름돈 600를 주고 커피를 줍니다.
돈을 넣어주세요300
커피를 줍니다.
돈을 넣어주세요400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어주세요100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 3개 입니다.
돈을 넣어주세요100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 3개 입니다.
돈을 넣어주세요400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어주세요00
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 2개 입니다.
돈을 넣어주세요400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어주세요400
거스름돈 100를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
a = 0
while a < 10:
  a += 1
  if a %2 == 0: continue
  print(a)

1
3
5
7
9

In [ ]:
while True:
  print("Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.")
  break

Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.

# for문

In [ ]:
test_list = ['one','two','three']
for i in test_list:
  print(i)

one
two
three

In [ ]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
  print(first + last)

3
7
11

In [ ]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
  number += 1
  if mark >= 60:
    print("%d번 학생은 합격입니다." % number)
  else:
    print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
  number += 1
  if mark < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
a = range(10)
a

range(0, 10)

In [ ]:
a = range(1, 11)
a

range(1, 11)

In [ ]:
add = 0
for i in range(1, 11):
  add += i

print(add)

55

In [ ]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
  if  marks[number] < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다." % (number + 1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
for i in range(2, 10):
  for j in range(1, 10):
    print(i*j, end = " ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
a = [1, 2, 3, 4]
result = []
for num in a:
  result.append(num*3)

print(result)

[3, 6, 9, 12]

In [ ]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]

In [ ]:
result = [x  * y for x in range(2, 10)
                 for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]